[submodule "hugo-theme-sam"]
	path = hugo-theme-sam
	url = https://github.com/victoriadrake/hugo-theme-sam.git
[submodule "themes/sam_2"]
	path = themes/sam_2
	url = https://github.com/victoriadrake/hugo-theme-sam.git
