<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title>{{ .Title }}</title>
        <link href="custom-style.css" type="text/css" media="screen" />
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker|Roboto|Saira+Stencil+One&display=swap"> 
         
        <style>
            body {background-color: #36b0bb;
                   }
            .big-link {
                font-family: 'Roboto', sans serif;
                font-size: 70px;
                text-decoration: none;
            }
            
            a { color: #652C8F;
            }
            
            a:link { 
                    text-decoration: none;
                     text-underline: none;   
            }
        </style>
        
    <body>
        <div class="section" id="splash">

            {{ if .Site.Params.mainMenu }}
                {{ range .Site.Params.mainMenu }}
                    <div class="big-link">
                        <a href="{{.link}}">
                            {{.text}}
                        </a>
                    </div>
                {{ end }}

            {{ else }}
                {{ range .Site.Sections }}
                    <div class="big-link"> 
                        <a href="{{.Permalink}}">
                            {{.Title}}
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            
        </div>
    </body>
</html>
