#particles-js{ position:absolute; width: 100%; height: 100%;
  background-color: #1d2024;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }


-/*=================================================================
	Packages honeycomb
==================================================================*/

.hexBadges {
  position: relative;
  width: 500px;
  margin: auto;
  margin-top: 0px;
  height: 640px; }
  .hexBadges img {
    width: 140px;
    height: 162px;
    position: absolute;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s; }
    .hexBadges img.r0 {
      top: 0px; }
    .hexBadges img.r1 {
      top: 120px; }
    .hexBadges img.r2 {
      top: 255px; }
    .hexBadges img.r3 {
      top: 390px; }
    .hexBadges img.r4 {
      top: 525px; }
    .hexBadges img.r5 {
      top: 660px; }
    .hexBadges img.r1.c0, .hexBadges img.r3.c0, .hexBadges img.r5.c0 {
      left: 100px; }
    .hexBadges img.r0.c0, .hexBadges img.r2.c0, .hexBadges img.r4.c0 {
      left: 175px; }
    .hexBadges img.r1.c1, .hexBadges img.r3.c1, .hexBadges img.r5.c1 {
      left: 250px; }
    .hexBadges img.r0.c1, .hexBadges img.r2.c1, .hexBadges img.r4.c1 {
      left: 325px; }
    .hexBadges img.r1.c2, .hexBadges img.r3.c2, .hexBadges img.r5.c2 {
      left: 400px; }
    .hexBadges img.r0.c2, .hexBadges img.r2.c2, .hexBadges img.r4.c2 {
      left: 475px; }
    .hexBadges img.r1.c3, .hexBadges img.r3.c3, .hexBadges img.r5.c3 {
      left: 550px; }
    .hexBadges img.r0.c3, .hexBadges img.r2.c3, .hexBadges img.r4.c3 {
      left: 625px; }