{{ $data := index site.Data site.Language.Lang }}

{{ if $data.publications.publications.enable}}
{{ with $data.publications.publications}}
{{"<!-- Publications Section -->" | safeHTML }}
<section class="publications section" id="publications">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML }}
				<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") .link | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML }}

			{{ range .publications_item}}
			{{"<!-- Publications Item -->" | safeHTML }}
			<div class="col-lg-4 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
				<div class="publications-item text-left">
						<i class="{{ .icon }}"></i>
					</div>
					<h3>{{ .name | markdownify }}</h3>
					<p>{{ .content | markdownify }}</p>
				</div>
			</article>
			{{"<!-- End Single Publications Item -->" | safeHTML }}
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /publications -->" | safeHTML }}
{{ end }}
{{ end }}
