{{ $data := index site.Data site.Language.Lang }}

{{ if $data.testimonial.testimonial.enable }}
{{ with $data.testimonial.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="testimonial" class="testimonial overly section bg-2"
	style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img src="{{ .bg_image_webp | absURL }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'">
	 <div class="container">
    <div class="row justify-content-center">

      {{"<!-- section title -->" | safeHTML}}
      <div class="col-lg-12">
        <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
            {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
             <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

<div class="hexBadges">
        {{ $col0 := .Params.col0 }}
        {{ with $col0 }}
        {{ with .row1 }}<a href="https://globalgov.github.io/manyenviron/"><img src="https://raw.githubusercontent.com/globalgov/manyenviron/main/man/figures/manyenviron_hexlogo.png" alt="manyenviron hex sticker" class="r1 c0"></a>{{ end }}
        {{ with .row2 }}<a href="https://globalgov.github.io/manytrade/"><img src="https://raw.githubusercontent.com/globalgov/manytrade/main/man/figures/manytradeContainer.png" alt="manytrade hex sticker" class="r2 c0"></a>{{ end }}
        {{ with .row3 }}<a href="https://globalgov.github.io/manydata/"><img src="https://raw.githubusercontent.com/globalgov/manydata/main/man/figures/manydataLogo.png" alt="manydata hex sticker" class="r3 c0"></a>{{ end }}
        {{ end }}
        {{ $col1 := .Params.col1 }}
        {{ with $col1 }}
        {{ with .row2 }}<a href="https://globalgov.github.io/manypkgs/"><img src="https://raw.githubusercontent.com/globalgov/manypkgs/main/man/figures/manypkgslogo.png" alt="manypkgs hex sticker" class="r2 c1"></a>{{ end }}
        {{ end }}
        {{ $col2 := .Params.col2 }}
        {{ with $col2 }}
        {{ with .row1 }}<a href="https://{{ . }}{{ $.Site.Params.hex_base_url }}"><img src="{{ printf ("/css/images/hex/%s.%s") . "png" }}" alt="{{ . }} hex sticker" class="r1 c2"></a>{{ end }}
        {{ with .row2 }}<a href="https://globalgov.github.io/manyhealth/"><img src="https://raw.githubusercontent.com/globalgov/manyhealth/master/man/figures/manyhealthLogo.png" alt="manyhealth hex sticker" class="r2 c2"></a>{{ end }}
        {{ with .row3 }}<a href="https://snlab-ch.github.io/migraph/"><img src="https://raw.githubusercontent.com/snlab-ch/migraph/main/man/figures/logo.png" alt="migraph hex sticker" class="r3 c2"></a>{{ end }}
        {{ end }}
      </div>

</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}
