{{ $data := index site.Data site.Language.Lang }}

{{ if $data.testimonial.testimonial.enable }}
{{ with $data.testimonial.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
	 <div class="container">
    <div class="row justify-content-center">

      {{"<!-- section title -->" | safeHTML}}
        <div class="hexBadges">
        
        
        <a href="https://globalgov.github.io/manyenviron/"><img src="https://raw.githubusercontent.com/globalgov/panarchic.ch/main/static/images/client/manyenviron.png" alt="manyenviron hex sticker" class="r1 c0"></a>
        <a href="https://globalgov.github.io/manytrade/"><img src="https://raw.githubusercontent.com/globalgov/panarchic.ch/main/static/images/client/manytrade.png" alt="manytrade hex sticker" class="r2 c0"></a>
        <a href="https://globalgov.github.io/manyhealth/"><img src="https://raw.githubusercontent.com/globalgov/panarchic.ch/main/static/images/client/manyhealth.png" alt="manyhealth hex sticker" class="r3 c0"></a>
        
        
        
        <a href="https://globalgov.github.io/manypkgs/"><img src="https://raw.githubusercontent.com/globalgov/panarchic.ch/main/static/images/client/manypkgs.png" alt="manypkgs hex sticker" class="r2 c1"></a>
        <a href="https://globalgov.github.io/manystates/"><img src="https://raw.githubusercontent.com/globalgov/panarchic.ch/main/static/images/client/manystates.png" alt="manystates hex sticker" class="r3 c1"></a>
        
        
        
        <a href="https://snlab-ch.github.io/migraph/"><img src="https://raw.githubusercontent.com/globalgov/panarchic.ch/main/static/images/client/migraph.png" alt="migraph hex sticker" class="r2 c2"></a>
      </div>
		</div>
	</div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}
