{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "banner.html" . }}

{{ partial "about.html" . }}

{{ partial "team.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}
